<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.crypto">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Crypto"
        android:usesCleartextTraffic="true"
        tools:targetApi="m">
        <activity
            android:name=".CryptActivities.AuthorialActivity"
            android:exported="false" />
        <activity
            android:name=".CryptActivities.CardanGrilleActivity"
            android:exported="false" />
        <activity
            android:name=".CryptActivities.RichelieuActivity"
            android:exported="false" />
        <activity
            android:name=".CryptActivities.RoutActivity"
            android:exported="false" />
        <activity
            android:name=".CryptActivities.HillActivity"
            android:exported="false" />
        <activity
            android:name=".CryptActivities.PlayfairActivity"
            android:exported="false" />
        <activity
            android:name=".CryptActivities.GronsfeldActivity"
            android:exported="false" />
        <activity
            android:name=".CryptActivities.MagicSquareActivity"
            android:exported="false" />
        <activity
            android:name=".CryptActivities.VigenereActivity"
            android:exported="false" />
        <activity
            android:name=".CryptActivities.TrithemiusActivity"
            android:exported="false" />
        <activity
            android:name=".CryptActivities.DoublePermutationActivity"
            android:exported="false" />
        <activity
            android:name=".CryptActivities.CaesarKeyWordActivity"
            android:exported="false" />
        <activity
            android:name=".CryptActivities.AffineActivity"
            android:exported="false" />
        <activity
            android:name=".CryptActivities.SinglePermutationKey"
            android:exported="false" />
        <activity
            android:name=".CryptActivities.CaesarActivity"
            android:exported="false" />
        <activity
            android:name=".CryptoActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>